/* Подключение шрифтов */

@font-face {
  font-family: 'Raleway-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway Regular'), local('Raleway-Regular'), url('../fonts/Raleway-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Raleway-ExtraBold';
  font-weight: 800;
  font-display: swap;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url('../fonts/Raleway-ExtraBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Raleway-Bold';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: local('Raleway Bold'), local('Raleway-Bold'), url('../fonts/Raleway-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Raleway-Italic';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Raleway Italic'), local('Raleway-Italic'), url('../fonts/Raleway-Italic.ttf') format('ttf');
}

@font-face {
  font-family: 'Raleway-Black';
  font-weight: 900;
  font-display: swap;
  src: local('Raleway Black'), local('Raleway-Black'), url('../fonts/Raleway-Black.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto-Light';
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/Roboto-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Roboto-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto-Black';
  font-weight: 800;
  font-display: swap;
  src: local('Roboto Black'), local('Roboto-Black'), url('../fonts/Roboto-Black.ttf') format('ttf');
}
----------------------------------------------------------------

/* Часть 2 - Контактная форма #contact-form */

@media screen and (max-width: 900px) {

  .form-group {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }

  .form-control1, .form-control2 {
    margin-right: 20px;
    width: 320px;
    height: 48px;
    -webkit-box-shadow: 5px 5px 2.5px 0px rgba(173,170,170,0.77);
    -moz-box-shadow: 5px 5px 2.5px 0px rgba(173,170,170,0.77);
    box-shadow: 5px 5px 2.5px 0px rgba(173,170,170,0.77);
    margin: 0 auto;
  }
  .mybtnstyle {
    width: 375px;
    height: 48px;
  }

  #emailHelp{
    width: 440px;
    margin-left: 5px;
    color:rgba(173, 173, 173, 0.09);
    margin: 0 auto;
  }

  .smallformtext {
    font-size: 7px;
    color:rgb(48, 153, 226);
    margin-right:4px;
    margin-left: 5px;
  }

  .form-row {
    height: 400px;
    width: 600px;
  }

}

@media screen and (max-width: 500px) {

  .form-group {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 10px;
  }

  .form-control1, .form-control2 {
    margin-right: 20px;
    width: 320px;
    height: 48px;
    -webkit-box-shadow: 5px 5px 2.5px 0px rgba(173,170,170,0.77);
    -moz-box-shadow: 5px 5px 2.5px 0px rgba(173,170,170,0.77);
    box-shadow: 5px 5px 2.5px 0px rgba(173,170,170,0.77);
    margin: 0 auto;
  }
  .mybtnstyle {
    width: 325px;
    height: 48px;
    margin-left: 10px;
  }

  #emailHelp{
    width: 245px;
    margin-left: 10px;
    color:rgba(173, 173, 173, 0.09);
  }

  .smallformtext {
    font-size: 7px;
    color:rgb(48, 153, 226);
    margin-right:4px;
    margin-left: 5px;
  }

  .title3__main, .title__main4, .title__main5 {
    font-family: 'Raleway-ExtraBold';
    font-weight: 800;
    font-size: 36px;
    margin-left: 10px;
  }

  .form-row {
    height: 400px;
    width: 600px;
    margin-left: 10px;
  }

}


/* Часть 4 - Как мы работает #how-we-work*/


@media screen and (max-width: 1200px) {

    .work-row-width{
      display: flex;
      flex-direction: column;

    }

}

@media screen and (max-width: 700px) {

    .work-row-width{
      display: flex;
      flex-direction: column;
    }

    .howweworkcontainer {
      width: 70%;
    }
}



@media screen and (max-width: 642px) {
    .howweworkcontainer {
      width: 20%;
    }
    .work-row-width{
      display: flex;
      flex-direction: column;
    }

    .margin-class {
      max-width: 370px;
    }

}


@media screen and (max-width: 500px) {

    .work-row-width{
      display: flex;
      flex-direction: column;
    }

    .margin-class {
      max-width: 250px;
    }
}

@media screen and (max-width: 380px) {

    .work-row-width{
      display: flex;
      flex-direction: column;
    }

    .margin-class {
      max-width: 190px;
    }

    .done-container {
      display: none;
    }

    .work__blockbtn {
      width: 220px;
      margin-left: 40px;
    }
}


/* Часть 5 - Наши результаты #our-results*/


@media screen and (max-width: 1400px) {

  .card-title-1{
    font-family: 'Raleway-ExtraBold';
    font-weight: 800;
    font-size: 21px;
    margin-top: 40px;
    margin-left: 80px;
  }

  .card-text-1 {
    font-family: 'Raleway-ExtraBold';
    font-weight: 800;
    font-size: 21px;
    margin-top: 30px;
    margin-left: 80px;
  }

  .results-number {
    font-family: "Roboto Black";
    font-weight: 800;
    font-size: 64px;
    margin-top: 14px;
    margin-right: 16px;
    margin-left: 80px;
  }

  .results-info {
    font-family: "Roboto Regular";
    font-weight: 400;
    font-size: 18px;
    width: 92px;
    margin-top: 34px;

  }

  .image-holder-results {
    height: 520px;
    width:;
  }

  .resultscont {
    height: 400px;
  }
}

  @media screen and (max-width: 1250px) {

    .card-title-1{
      font-family: 'Raleway-ExtraBold';
      font-weight: 800;
      font-size: 21px;
      margin-top: 30px;
      margin-left: 70px;
    }

    .card-text-1 {
      font-family: 'Raleway-ExtraBold';
      font-weight: 800;
      font-size: 21px;
      margin-top: 30px;
      margin-left: 70px;
    }

    .results-number {
      font-family: "Roboto Black";
      font-weight: 800;
      font-size: 64px;
      margin-top: 14px;
      margin-right: 16px;
      margin-left: 70px;
    }
  }


  @media screen and (max-width: 1185px) {

    .card-title-1{
      font-family: 'Raleway-ExtraBold';
      font-weight: 800;
      font-size: 21px;
      margin-top: 15px;
      margin-left: 30px;
    }

    .card-text-1 {
      font-family: 'Raleway-ExtraBold';
      font-weight: 800;
      font-size: 21px;
      margin-top: 7px;
      margin-left: 30px;
    }

    .results-number {
      font-family: "Roboto Black";
      font-weight: 800;
      font-size: 64px;
      margin-top: 7px;
      margin-right: 16px;
      margin-left: 30px;
    }
  }

  @media screen and (max-width: 1045px) {

    .card-title-1{
      font-family: 'Raleway-ExtraBold';
      font-weight: 800;
      font-size: 21px;
      margin-top: 10px;
      margin-left: 10px;
    }

    .card-text-1 {
      font-family: 'Raleway-ExtraBold';
      font-weight: 800;
      font-size: 21px;
      margin-top: 7px;
      margin-left: 10px;
    }

    .results-number {
      font-family: "Roboto Black";
      font-weight: 800;
      font-size: 64px;
      margin-top: 7px;
      margin-right: 16px;
      margin-left: 10px;
    }

    .card-img, .card-img-overlay {
     width: 100%;
     height: 100%;
    }

    .resultscont{
      height: 500px;
    }
  }

  @media screen and (max-width: 991px) {

    .card-title-1{
      font-family: 'Raleway-ExtraBold';
      font-weight: 800;
      font-size: 21px;
      margin-top: 8px;
      margin-left: 250px;
    }

    .card-text-1 {
      font-family: 'Raleway-ExtraBold';
      font-weight: 800;
      font-size: 21px;
      margin-top: 7px;
      margin-left: 250px;
    }

    .results-number {
      font-family: "Roboto Black";
      font-weight: 800;
      font-size: 64px;
      margin-top: 7px;
      margin-right: 16px;
      margin-left: 250px;
    }

    .card-img, .card-img-overlay {
     width: 100%;
     height: 100%;
    }

    .image-holder-results {
      height: 640px;
    }

    .resultscont {
      height: 640px;
    }

  }

  @media screen and (max-width: 920px) {

    .card-title-1{
      font-family: 'Raleway-ExtraBold';
      font-weight: 800;
      font-size: 21px;
      margin-top: 8px;
      margin-left: 220px;
    }

    .card-text-1 {
      font-family: 'Raleway-ExtraBold';
      font-weight: 800;
      font-size: 21px;
      margin-top: 7px;
      margin-left: 220px;
    }

    .results-number {
      font-family: "Roboto Black";
      font-weight: 800;
      font-size: 64px;
      margin-top: 7px;
      margin-right: 16px;
      margin-left: 220px;
    }

    .card-img, .card-img-overlay {
     width: 100%;
     height: 100%;
    }

    .resultscont{
      height: 645px;
    }

    .image-holder-results {
      height: 645px;
    }

  }

  @media screen and (max-width: 892px) {

    .card-title-1{
      font-family: 'Raleway-ExtraBold';
      font-weight: 800;
      font-size: 21px;
      margin-top: 8px;
      margin-left: 220px;
    }

    .card-text-1 {
      font-family: 'Raleway-ExtraBold';
      font-weight: 800;
      font-size: 21px;
      margin-top: 7px;
      margin-left: 220px;
    }

    .results-number {
      font-family: "Roboto Black";
      font-weight: 800;
      font-size: 64px;
      margin-top: 7px;
      margin-right: 16px;
      margin-left: 220px;
    }

    .card-img, .card-img-overlay {
     width: 100%;
     height: 100%;
    }

    .resultscont{
      height: 645px;
    }

    .image-holder-results {
      height: 645px;
    }

  }

  @media screen and (max-width: 820px) {

    .card-title-1{
      font-family: 'Raleway-ExtraBold';
      font-weight: 800;
      font-size: 21px;
      margin-top: 8px;
      margin-left: 190px;
    }

    .card-text-1 {
      font-family: 'Raleway-ExtraBold';
      font-weight: 800;
      font-size: 21px;
      margin-top: 7px;
      margin-left: 190px;
    }

    .results-number {
      font-family: "Roboto Black";
      font-weight: 800;
      font-size: 64px;
      margin-top: 7px;
      margin-right: 16px;
      margin-left: 190px;
    }

    .card-img, .card-img-overlay {
     width: 100%;
     height: 100%;
    }

    .resultscont {
      height: 645px;
    }

    .image-holder-results {
      height: 645px;
    }

  }


  @media screen and (max-width: 620px) {

    .card-title-1{
      font-family: 'Raleway-ExtraBold';
      font-weight: 800;
      font-size: 21px;
      margin-top: 8px;
      margin-left: 100px;
    }

    .card-text-1 {
      font-family: 'Raleway-ExtraBold';
      font-weight: 800;
      font-size: 21px;
      margin-top: 7px;
      margin-left: 100px;
    }

    .results-number {
      font-family: "Roboto Black";
      font-weight: 800;
      font-size: 64px;
      margin-top: 7px;
      margin-right: 16px;
      margin-left: 100px;
    }

    .card-img, .card-img-overlay {
     width: 100%;
     height: 100%;
    }

    .resultscont{
      height: 600px;
    }

    .image-holder-results {
      height: 500px;
      width:;
    }

    .image-holder-results {
      height: 650px;
    }

    .resultscont {
      height: 650px;
    }
  }

  @media screen and (max-width: 500px) {

    .card-title-1{
      font-family: 'Raleway-ExtraBold';
      font-weight: 800;
      font-size: 21px;
      margin-top: 8px;
      margin-left: 50px;
    }

    .card-text-1 {
      font-family: 'Raleway-ExtraBold';
      font-weight: 800;
      font-size: 21px;
      margin-top: 7px;
      margin-left: 50px;
    }

    .results-number {
      font-family: "Roboto Black";
      font-weight: 800;
      font-size: 64px;
      margin-top: 0px;
      margin-right: 16px;
      margin-left: 50px;
    }

    .card-img, .card-img-overlay {
     width: 100%;
     height: 100%;
    }

    .resultscont{
      height: 600px;
    }

    .results-info-1, .results-info-2 {
      font-family: "Roboto Regular";
      font-weight: 400;
      font-size: 18px;
      width: 140px;
    }

    .results-info-width {
      width: 120px;
    }

    .results-info {
      font-family: "Roboto Regular";
      font-weight: 400;
      font-size: 18px;
      width: 92px;
      margin-top: 10px;
    }

    .image-holder-results {
      height: 685px;
    }

    .resultscont {
      height: 685px;
    }
  }

  /* Часть 6 - Наши Офисы #offices*/

    @media screen and (max-width: 1400px) {

      .offices__cards {
        display: flex;
        flex-direction: column;
      }


    }


    /* Часть 7 - Отзывы #reviews*/

@media screen and (max-width: 1034px) {

  #reviews {
    display: none;
  }

}

/* Часть 8 - Подпись на рассылку #mail-list*/



@media screen and (max-width: 1395px) {

  .mymail-list {
    width: 1295px;
    height: 140px;
  }

  .message-tel2 {
    display: none;
  }

}

@media screen and (max-width: 1030px) {

  .mymail-list {
    width: 1000px;
    height: 140px;
  }

  .message-tel2 {
    display: none;
  }

}

@media screen and (max-width: 980px) {

  .mymail-list {
    width: 880px;
    height: 140px;
  }

  .message-tel2 {
    display: none;
  }

}

@media screen and (max-width: 770px) {

  .mymail-list {
    width: 700px;
    height: 140px;
  }

  .message-tel2 {
    display: none;
  }
  .message-tel1 {
    display: none;
  }

  .maillistform {
    width: 400px;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .maillistform2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .maillistform3 {
    margin: 0 auto;
  }
}


@media screen and (max-width: 678px) {

  .mymail-list {
    width: 410px;
    height: 130px;
    margin-left: 25px;
  }

  .message-tel2 {
    display: none;
  }
  .message-tel1 {
    display: none;
  }

  .maillistform {
    width: 300px;

  }
  .maillistform2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-left: 15px;
  }

}

/* Часть 9 - Отношения с клиентами #clients*/

@media screen and (max-width: 1000px) {
  .clients__title{
    width:350px;
  }

  .clients__block {
    width: 260px;
  }

  .client_text {

    margin-top: 10px;
    font-family: "Roboto Regular";
    font-weight: 400;
    font-size: 12px;
    width: 360px;
    text-align: left;
  }

}


@media screen and (max-width: 924px) {
  .clients__title{
    width:350px;
  }

  .clients__block {
    width: 260px;
  }

  .client_text {
    margin-top: 10px;
    font-family: "Roboto Regular";
    font-weight: 400;
    font-size: 12px;
    width: 400px;
    text-align: left;
  }

}


@media screen and (max-width: 500px) {

  .client_text {
    margin-top: 10px;
    font-family: "Roboto Regular";
    font-weight: 400;
    font-size: 12px;
    width: 300px;
    text-align: left;
  }
  .myworkflex{
    display: flex;
    flex-direction: column;
  }

}

/* Часть 10 - Лицензии #licence*/

@media screen and (max-width: 988px) {
  .offices__cards {

    margin: 0 auto;
  }
}

@media screen and (max-width: 929px) {
  .offices__cards {
    width: 50% !important;
    margin: 0 auto;
  }
}

@media screen and (max-width: 533px) {
  .offices__cards {
    margin-left: 10px;

  }

  .licence-text{
    width: 350px;
    text-align: left;
  }
}

/* Часть 12 - Наша История #history */


  @media screen and (max-width: 982px) {
    .imageholder {
      display: none;
    }

  }



  /* Часть 13 - section: #we-help */


  @media screen and (max-width: 1203px) {
    .wehelp__cirlcles {
      display: none;
    }

    .wehelp_text{
      display: none;
    }

    #adoptmain{
      display: none;
    }
  }


@media screen and (max-width: 783px) {

  .wehelpform {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .helpheader{
    width: 450px;
  }
}


@media screen and (max-width: 500px) {

  .wehelpform {
    flex-direction: column;
    justify-content: flex-start;
  }


}


/* Часть 14 - section: #footer */

@media screen and (max-width: 1000px) {



}

@media screen and (max-width: 680px) {


}
